{% extends 'base.html' %}

{% block title %}Dodaj przepis{% endblock %}

{% block content %}
<h2 class="page-title">Dodaj nowy przepis</h2>

<form action="{{ url_for('add_recipe') }}" method="POST" enctype="multipart/form-data" class="recipe-form">

  <label for="name">Nazwa przepisu:</label>
  <input type="text" id="name" name="name" required>

  <label for="category">Kategoria:</label>
  <select id="category" name="category" required>
    {% for cat in categories %}
      <option value="{{ cat }}">{{ cat|capitalize }}</option>
    {% endfor %}
  </select>

  <label for="time">Czas przygotowania:</label>
  <input type="text" id="time" name="time" required>

  <label for="difficulty">Trudność:</label>
  <select id="difficulty" name="difficulty">
    <option>Łatwy</option>
    <option>Średni</option>
    <option>Trudny</option>
  </select>

  <label for="portions">Liczba porcji:</label>
  <input type="number" id="portions" name="portions" min="1" required>

  <label for="image">Zdjęcie przepisu:</label>
  <input type="file" id="image" name="image" accept="image/*">

  <!-- SKŁADNIKI -->
  <div id="ingredients-container" class="dynamic-field">
    <label>Składniki:</label>
    <div class="field-item">
      <input type="text" name="ingredients" placeholder="np. 200 g mąki">
      <i class="fa fa-trash remove-icon" onclick="removeField(this)"></i>
    </div>
  </div>
  <button type="button" class="add-btn" onclick="addIngredient()">+ Dodaj składnik</button>

  <!-- KROKI -->
  <div id="steps-container" class="dynamic-field">
    <label>Kroki przygotowania:</label>
    <div class="field-item">
      <input type="text" name="steps" placeholder="np. Wymieszaj składniki">
      <i class="fa fa-trash remove-icon" onclick="removeField(this)"></i>
    </div>
  </div>
  <button type="button" class="add-btn" onclick="addStep()">+ Dodaj krok</button>

  <button type="submit" class="submit-btn">Zapisz przepis</button>
</form>


{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
{% endblock %}
