<div class="topnav" id="myTopnav">

  <a href="{{ url_for('index') }}" class="{% if request.path == url_for('index') %}active{% endif %}">
    Strona główna
  </a>


  <div class="dropdown">
    <a href="javascript:void(0);" 
       class="{% if request.path.startswith('/category') %}active{% endif %}" 
       onclick="toggleDropdown(event)">
       Przepisy
    </a>
    <div class="dropdown-content">
      <a href="{{ url_for('category', category='sniadanie') }}">Śniadania</a>
      <a href="{{ url_for('category', category='obiad') }}">Obiady</a>
      <a href="{{ url_for('category', category='kolacja') }}">Kolacje</a>
      <a href="{{ url_for('category', category='deser') }}">Desery</a>
    </div>
  </div>


  <div class="dropdown">
    <a href="javascript:void(0);" onclick="toggleDropdown(event)">
      Konto {% if session.get('username') %}({{ session['username'] }}){% endif %}
    </a>
    <div class="dropdown-content">
      {% if session.get('username') %}
        <a href="#">Profil</a>
        <a href="{{ url_for('logout') }}">Wyloguj</a>
      {% else %}
        <a href="javascript:void(0);" onclick="openModal('loginModal')">Zaloguj się</a>
        <a href="javascript:void(0);" onclick="openModal('registerModal')">Zarejestruj się</a>
      {% endif %}
    </div>
  </div>


  <a href="javascript:void(0);" class="icon" onclick="toggleMenu()">
    <i class="fa fa-bars"></i>
  </a>
</div>


<div id="loginModal" class="modal">
  <div class="modal-content">
    <span class="close" onclick="closeModal('loginModal')">&times;</span>
    <h2>Logowanie</h2>
    <form action="{{ url_for('login') }}" method="POST">
      <input type="text" name="email" placeholder="email" required> 
      <input type="password" name="password" placeholder="Hasło" required>
      <button type="submit">Zaloguj się</button>
    </form>
  </div>
</div>


<div id="registerModal" class="modal">
  <div class="modal-content">
    <span class="close" onclick="closeModal('registerModal')">&times;</span>
    <h2>Rejestracja</h2>
    <form action="{{ url_for('register') }}" method="POST">
      <input type="text" name="username" placeholder="Nazwa użytkownika" required>
      <input type="text" name="email" placeholder="Adres e-mail" required>
      <input type="password" name="password" placeholder="Hasło" required>
      <button type="submit">Zarejestruj się</button>
    </form>
     <p>Ze względu na niepełną politykę prywatności firmy, 
      możliwość założenia konta jest tymczasowo zawieszona.
      Strona nie przechowuje danych użytkowników.
    </p>
  </div>
</div>
